:root {
  --main-color: #f2b90c;
}


.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

section {
  padding: 2rem 0;
}

.logo {
  background-color: #ffff;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  border-radius: 5px 25px 5px 5px;
  max-width: 185px;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
}

 
.cta-button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
    border-radius: 50px;
    width: 170px;
}

.cta-button:hover {
  background-color: #0056b3;
}


.button-white {
  background-color: #fff;
  border: none;
  color: purple;
  box-shadow: 10px 10px 20px grey;
}

.button-white-border {
  background-color: #fff;
  border: none;background-color: #fff;
  border: 1px solid var(--main-color);
  color: black;
}